rpc-metadata {
  color: #666666;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 1.2;
}

rpc-metadata p {
  margin: 0 0 5px 0;
}

rpc-metadata .sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
