:host {
  color: black;
  display: block;
  font-family: 'Open Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 14px;
  margin: 20px 0;
  width: 100%;
}

:host .wrapper {
  width: 100%;
}

:host .scroll-y {
  overflow-x: auto;
}

:host table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 0 10px 0;
  width: 100%;
}

:host caption {
  font-weight: normal;
}

:host th,
:host td {
  background-color: white;
  border: 1px solid #5b616b;
  line-height: 1.3;
  padding: 8px 10px;
}

:host thead th,
:host thead td {
  background-color: #f1f1f1;
}

:host thead th,
:host tfoot td {
  font-weight: bold;
}

:host caption {
  line-height: 1.3;
  margin-bottom: 10px;
}

:host caption .title {
  font-family: 'Montserrat', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: bold;
  display: block;
  text-align: center;
}

:host caption .subtitle {
  display: block;
  font-size: 14px;
  text-align: center;
}

:host .align-left {
  text-align: left;
}

:host .align-center {
  text-align: center;
}

:host .align-right {
  text-align: right;
}
